/* styles.css */

.cart-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
.active{
  display: flex;
  flex-direction: column;
}

.unactive{
  display: none;
}

/* 
MultipleItems.css

.slider-container {
  margin-top: 20px;
  width: 80%;

}

.slick-slide {
  margin: 0 10px;
}

.slick-slide h3 {
  text-align: center;
  color: #fff;
  background: #4caf50;
  padding: 20px;
  margin: 0;
} */
